@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Prima mea pagina ASP. NET </h1>
    <p>Afla mai multe <a href="https://docs.microsoft.com/aspnet/core">despre construirea de aplicatii web folosind ASP.NET Core</a>.</p>
</div>
